app = "music-download-app"
primary_region = "ams" # أو المنطقة اللي اخترتها

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "100gb" # تقدر تزودها من الداشبورد بما إن معاك رامات كتير
