# Core Framework (2026 Optimized)
fastapi>=0.129.0
uvicorn[standard]>=0.40.0
pydantic>=2.12.5
gunicorn>=23.0.0

# Video Extraction Engine
# yt-dlp يتحدث يومياً، لذا نتركه بدون رقم إصدار ليجلب الأحدث دائماً
yt-dlp[default]

# Async Networking
httpx
aiofiles
requests

# Server Utilities & Monitoring
python-multipart
loguru
psutil  # لمراقبة استهلاك الـ 100 جيجا رام
uvloop # تسريع السيرفر 4 أضعاف (مهم جداً للينكس)
